<h1>Users</h1>
<table style="width:80%">
  <tr>
    <th>Name</th>
    <th>email address</th>
    <th>Admin</th>
    <th>User ID</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.admin ? "Admin" : "Student" %></td>
      <td><%= user.id %></td>
      <td><%= button_to user.admin ? "Demote to student" : "Make admin", user_path(user.id), method: "put" %></td>
    </tr>
  <% end %>
</table>
