<h1>Users</h1>
<table style="width:100%">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>email address</th>
    <th>Student</th>
    <th>Admin</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.student ? "student" : "-" %></td>
      <td><%= user.admin ? "Admin" : "-" %></td>
    </tr>
  <% end %>
</table>
