<h1><%= @user.name %></h1>
<h3><%= @user.admin ? "Admin" : "Student" %></h3>
<hr>
<h2>Todays match: <%= @user.todays_match %></h2>
<hr>

<h3>Past matches</h3>
<table style="width: 50%">
  <tr>
    <th>Date</th>
    <th>Match</th>
  </tr>
  <% @user.past_matches.each do |match| %>
    <tr>
      <td><%= match.date %></td>
      <td><p><%= match.users.first == @user? match.users.last.name : match.users.first.name %></p>
      </td>
    </tr>
  <% end %>
</table>
