<h1>All matches</h1>
<%= render 'match_maker' %>

<table style="width: 80%">
  <tr>
    <th>Match ID</th>
    <th>Date</th>
    <th>Students</th>
  </tr>
  <% @matches.each do |match| %>
    <tr>
      <td><%= match.id %></td>
      <td>Date: <%= match.date %></td>
      <td>Students:</td>
      <td><%= match.users.first.name %><%= match.users.length == 1 ? "" : " & #{match.users.last.name}" %> </td>
    </tr>
  <% end %>
</table>
